{% extends 'main/base.html' %}
{% load static %}



{% block title %}
    
{{clothing_item.name}}

{% endblock title %}
    



{% block content %}
    
<div class="detail-product d-flex">
    <div class="detail-img d-flex justify-content-center">
        
        {% for image in clothing_item.images.all %}
            <img class="detail-image" src="{{image.image.url}}" alt="{{clothing_item.name}}" data-index = "{{forloop.counter0}}">
        {% endfor %}
            <div class="image-nav">
                <button class="prev-btn">&lsaquo;</button>
                <button class="next-btn">&rsaquo;</button>

            </div>
    </div>

    <script>
        const images = document.querySelectorAll('.detail-image')
        const prevBtn= document.querySelector('.prev-btn')
        const prevBtn= document.querySelector('.next-btn')
        let currentIndex = 0;
        images[currentIndex].style.display = block


        if(images === 3){
            prevBtn.style.display = none
            nextBtn.style.display = none
        }else{
            prevBtn.addEventListener('click',() =>{
                images[currentIndex],style.display = 'none';
                currentIndex= (currentIndex -1 +image.length) % images.length;
                images[currentIndex].style.display = 'block';
            })
            nextBtn.addEventListener('click',() =>{
                images[currentIndex],style.display = 'none';
                currentIndex= (currentIndex -1 ) % images.length;
                images[currentIndex].style.display = 'block';
            })
        }
    </script>
</div>

{% endblock content %}
    

